*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
	color: white;


}


:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    /* --orange: rgb(221, 155, 94); */
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
  }
  
  body {
    font-family: Sora, "sans-serif";
    line-height: 1.7;
    color: var(--body);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .display-4 {
    color: var(--light);
    font-weight: 700;
  }
  

  h1,h3,h4 {
    text-shadow: 1px 2px 3px #808080;
}

  a {
    color: var(--dark);
    text-decoration: none;
  }
  
  img {
    width: 100%;
  }
  
  .navbar {
    box-shadow: var(--box-shadow);
  }
  
  .logo {
    width: 160px;
  }
  
  .navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
  }
  
  .navbar .nav-link {
    color: #fff !important;
  }
  
  .btn {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
  }


  .hero {
    height: 150vh;
    background-image: 
      linear-gradient(140deg, 
        #00f3ffA0, 
        #0028b960 40%, 
        #00f3ff60 60%, 
        #00f3ffA0), 
        url(images/jigyo_bg.jpg);
        background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
 
    z-index: 2;
    font-weight: 700;
  }
  
  .hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(37, 39, 71, 0.4);
    z-index: -1;
  }

  .hero1 {
    height: 100vh;
    background-image: 
      linear-gradient(140deg, 
        #00f3ffA0, 
        #0028b960 40%, 
        #00f3ff60 60%, 
        #00f3ffA0), 
        url(images/jigyo_bg.jpg);
        background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
 
    z-index: 2;
    font-weight: 700;
  }

  .hero2 {
    height: 150vh;
    background-image: 
      linear-gradient(140deg, 
        #00f3ffA0, 
        #0028b960 40%, 
        #00f3ff60 60%, 
        #00f3ffA0), 
        url(images/jigyo_bg.jpg);
        background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
 
    z-index: 2;
    font-weight: 700;
  }
  
  .hero2::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }


/* features section */
.col-img {
    background-image: url(images/img02.jpg);
    background-position: center;
    background-size: cover; /* 画像の全部を収めることができる。 */
    min-height: 800px;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
  }
  

/* footer */
  .footer-top {
    padding-bottom: 90px;
    padding: 50px;
    background-color: var(--dark);
  }
  
  .footer-top a {
    color: var(--body);
  }
  
  .footer-top a:hover {
    color: #fff;
  }
  


  .contact {
    background-image: url(images/jigyo_bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
    color: white;
}

.contact::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(50, 137, 219, 0.7);
    z-index: -1;
}


@media screen and (min-width: 1080px) { /*ウィンドウ幅が最小767pxまでの場合に適用*/

.contents {
    background-color:  white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    width: 100%;
    height: 100vh;
}



@keyframes move{
  0% {
    background-size:100% auto;
  }
  50% {
    background-size:140% auto;
  }
  100% {
    background-size:100% auto;
  }
}






/*sention01*/

section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 100px;
   
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title{
	font-size: 5.5rem;
	margin-bottom: 50px;
}

.sub-title{
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 50px;
}

.content{
    width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image{
    position: relative;
    width: 600px;
    height: 350px;
    overflow: hidden;
}

.content .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    z-index: 10;
}

.col-img {
    background-image: url(./img/cover2.jpg);
    background-position: center;
    background-size: cover; /* 画像の全部を収めることができる。 */
    min-height: 250px;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
  }

.content .text-box{
    z-index: 20;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    max-width: 700px;
    transform: translate(30px, 50px);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border-radius: 1px solid;
}

.content .text-box h3{
    font-size: 2rem;
    margin-bottom: 10px;
}



/*section02*/

.section-title{
    font-size: 3rem;
    margin-bottom: 20px;
}

.info-title{
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.info-title2{
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.info {
    width: 580px;
    margin-left: 50px;
    font-size: 1.2rem;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border-radius: 1px solid;
}


.info a {
    color: white;
    font-size: 1.1rem;

}


.info a:hover {
    color: white;
    font-size: 1.3rem;

}


.info2 {
    width: 750px;
    margin-left: 50px;
    font-size: 1.1rem;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border-radius: 1px solid;
}


.info2 a {
    color: white;
    font-size: 1.1rem;

}


.info2 a:hover {
    color: white;
    font-size: 1.3rem;
}


/*section03*/

.media-info {
    width: 500px;
    margin-left: 50px;
    font-size: 1.3rem;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border-radius: 1px solid;
    transform: translate(-50px, 0px);
}


.media-info a {
    color: white;
    font-size: 1.1rem;
}


.media-info a:hover {
    color: white;
    font-size: 1.3rem;
}



.content2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .content2 .image {
        position: relative;
        width: 550px;
        height: 450px;
        overflow: hidden;
    }

        .content2 .image img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 80%;
            object-fit: cover;
            border-radius: 10px;
            z-index: 10;
        }

    .content2 .text-box {
        z-index: 20;
        background: rgba(255, 255, 255, 0.1);
        padding: 40px;
        max-width: 700px;
        transform: translate(30px, 50px);
        backdrop-filter: blur(20px);
        border-radius: 10px;
        border-radius: 1px solid;
    }

        .content2 .text-box h3 {
            font-size: 2rem;
            margin-bottom: 10px;
        }




/*section04*/

.content3{
    width: 1170px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title{
    font-size: 3rem;
    margin-bottom: 20px;
}

.info-title{
    font-size: 1.8rem;
    margin-bottom: 30px;
}


.info3 {
    width: 580px;
    margin-left: 50px;
    font-size: 1.2rem;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border-radius: 1px solid;
}


.info3 a {
    color: white;
    font-size: 1.1rem;

}


.info3 a:hover {
    color: white;
    font-size: 1.3rem;

}

.info4 {
    width: 580px;
    margin-left: 50px;
    font-size: 1.2rem;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border-radius: 1px solid;
}


.info4 a {
    color: white;
    font-size: 1.1rem;

}


.info4 a:hover {
    color: white;
    font-size: 1.3rem;

}

/* 横並び */

.flex {
  display: flex; /*横並び*/
  height: 45px;
}
.flex .image {
  width: 35px; /*画像サイズ指定*/
  margin: 0;
  padding: 0;
}
.flex .image img {
  width: 100%;
  height: auto;
}
.flex .right {
  margin: 0px 0 0 20px;
  padding: 0;
}
.flex .title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
}
.flex .text {
  margin: 10px 0 0;
  padding: 0;
}





.link_button {
	font-weight: bold;
	text-decoration: none;
	background: green;
	color:white;
	padding:5px 10px;
	border-radius: 30px;/*角を丸くする*/
	font-family: '游ゴシック';/*フォント*/
	transition:all .15s ease;
}
/*以下カーソルを当てたとき*/
.link_button:hover {
	background: white;
	text-decoration: none;/*下線を消す*/
	transition:all .3s ease;
}



header {
	width: 100%;
	height: 80px;
	padding: 5px 0;
	text-align: center;
	color: white;
	background-position: center bottom;
	background-size: cover;
}
header .headline{
	line-height: 100px;
	font-size: 40px;
}
.nav-list {
	line-height: 100px;
	list-style: none;
	font-weight: bold;
}
.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}


.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  background: #668ad8;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}


/* トップへ戻るボタン */
.gotop {
	display: block;
	width: 60px;
	height: 60px;
	box-sizing: border-box;
	background: #FFF;
	border: 1px solid #999;
	padding-top: 30px;
	text-align: center;
	letter-spacing: -1px;
	font-size: 85%;
	text-decoration: none;
	color: #333;
                     
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 10000;
	transition:all .1s ease;
                  }

.gotop::before {
	content: "";
	display: block;
	border-top: 2px solid #333;
	border-right: 2px solid #333;
	width: 25%;
	height: 25%;
	top: 25%;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	transform: rotate(-45deg);
	transition:all .1s ease;
}

.gotop:hover {
	opacity: 1;
	color: black;
	font-size: 1em;
}

@media(max-width:750px) {
.gotop {
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	opacity: 1;
 	border: none;
	background: none;
	bottom: 10px;
	right: 10px;
}

.gotop::before {
	bottom: 0;
}
}

}


@media screen and (max-width: 1080px) { /*ウィンドウ幅が最大1080pxまでの場合に適用*/
    .contents {
        background-color:  white;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        width: 100%;
        height: 100vh;
    }
    
    
    
    @keyframes move{
      0% {
        background-size:100% auto;
      }
      50% {
        background-size:140% auto;
      }
      100% {
        background-size:100% auto;
      }
    }
    
    
    
    
    
    
    /*sention01*/
    
    section{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 80px 100px;
       
    }
    
    .container2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .main-title{
        font-size: 3.5rem;
        margin-bottom: 50px;
    }
    
    .sub-title{
        text-align: center;
        font-size: 2.2rem;
        margin-bottom: 50px;
    }
    
    .content{
        width: 1170px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .content .image{
        position: relative;
        width: 280px;
        height: 200px;
        overflow: hidden;
    }
    
    .content .image img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        z-index: 10;
    }
    
    .col-img {
        background-image: url(./img/cover2.jpg);
        background-position: center;
        background-size: cover; /* 画像の全部を収めることができる。 */
        min-height: 250px;
        box-shadow: var(--box-shadow);
        border-radius: 20px;
      }
    
    .content .text-box{
        z-index: 20;
        background: rgba(255, 255, 255, 0.1);
        padding: 40px;
        max-width: 700px;
        transform: translate(30px, 50px);
        backdrop-filter: blur(20px);
        border-radius: 10px;
        border-radius: 1px solid;
    }
    
    .content .text-box h3{
        font-size: 2rem;
        margin-bottom: 10px;
    }
    
    
    
    /*section02*/
    
    .section-title{
        font-size: 3rem;
        margin-bottom: 20px;
    }
    
    .info-title{
        font-size: 1.5rem;
        margin-bottom: 50px;
    }
    
    .info-title2{
        font-size: 1.3rem;
        margin-bottom: 50px;
    }
    
    .info {
        width: 430px;
        margin-left: 5px;
        font-size: 1.2rem;
        padding: 10px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        border-radius: 10px;
        border-radius: 1px solid;
    }
    
    
    .info a {
        color: white;
        font-size: 1.1rem;
    
    }
    
    
    .info a:hover {
        color: white;
        font-size: 1.3rem;
    
    }
    
    
    .info2 {
        width: 450px;
        margin-left: 5px;
        font-size: 1.1rem;
        padding: 20px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        border-radius: 10px;
        border-radius: 1px solid;
    }
    
    
    .info2 a {
        color: white;
        font-size: 1.1rem;
    
    }
    
    
    .info2 a:hover {
        color: white;
        font-size: 1.3rem;
    }
    
    
    /*section03*/
    
    .media-info {
        width: 350px;
        margin-left: 50px;
        font-size: 1.3rem;
        padding: 10px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        border-radius: 10px;
        border-radius: 1px solid;
        transform: translate(-50px, 0px);
    }
    
    
    .media-info a {
        color: white;
        font-size: 1.1rem;
    }
    
    
    .media-info a:hover {
        color: white;
        font-size: 1.3rem;
    }
    
    
    
    .content2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
        .content2 .image {
            position: relative;
            width: 280px;
            height: 200px;
            overflow: hidden;
        }
    
            .content2 .image img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                z-index: 10;
            }
    
        .content2 .text-box {
            z-index: 20;
            background: rgba(255, 255, 255, 0.1);
            padding: 40px;
            max-width: 700px;
            transform: translate(30px, 50px);
            backdrop-filter: blur(20px);
            border-radius: 10px;
            border-radius: 1px solid;
        }
    
            .content2 .text-box h3 {
                font-size: 2rem;
                margin-bottom: 10px;
            }
    
    
    
    
    /*section04*/

.content3{
    width: 340px;
    margin-right: 50px;
display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-title{
    font-size: 3rem;
    margin-bottom: 20px;
}

.info-title{
    font-size: 1.8rem;
    margin-bottom: 30px;
    text-align: center;
}


.info3 {
    width: 580px;
    margin-left: 50px;
    font-size: 1.2rem;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border-radius: 1px solid;
}


.info3 a {
    color: white;
    font-size: 1.1rem;

}


.info3 a:hover {
    color: white;
    font-size: 1.3rem;

}

.info4 {
    width: 580px;
    margin-left: 50px;
    font-size: 1.2rem;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border-radius: 1px solid;
}


.info4 a {
    color: white;
    font-size: 1.1rem;

}


.info4 a:hover {
    color: white;
    font-size: 1.3rem;

}
    
    /* 横並び */
    
    .flex {
      display: flex; /*横並び*/
      height: 45px;
    }
    .flex .image {
      width: 35px; /*画像サイズ指定*/
      margin: 0;
      padding: 0;
    }
    .flex .image img {
      width: 100%;
      height: auto;
    }
    .flex .right {
      margin: 0px 0 0 20px;
      padding: 0;
    }
    .flex .title {
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: 18px;
    }
    .flex .text {
      margin: 10px 0 0;
      padding: 0;
    }
    
    
    
    
    
    .link_button {
        font-weight: bold;
        text-decoration: none;
        background: green;
        color:white;
        padding:5px 10px;
        border-radius: 30px;/*角を丸くする*/
        font-family: '游ゴシック';/*フォント*/
        transition:all .15s ease;
    }
    /*以下カーソルを当てたとき*/
    .link_button:hover {
        background: white;
        text-decoration: none;/*下線を消す*/
        transition:all .3s ease;
    }
    
    
    
    header {
        width: 100%;
        height: 80px;
        padding: 5px 0;
        text-align: center;
        color: white;
        background-position: center bottom;
        background-size: cover;
    }
    header .headline{
        line-height: 100px;
        font-size: 40px;
    }
    .nav-list {
        line-height: 100px;
        list-style: none;
        font-weight: bold;
    }
    .nav-list-item {
        list-style: none;
        display: inline-block;
        margin: 0 20px;
    }
    
    
    .btn-flat-border {
      display: inline-block;
      padding: 0.3em 1em;
      text-decoration: none;
      color: #67c5ff;
      border: solid 2px #67c5ff;
      background: #668ad8;
      border-radius: 3px;
      transition: .4s;
    }
    
    .btn-flat-border:hover {
      background: #67c5ff;
      color: white;
    }
    
    
    /* トップへ戻るボタン */
    .gotop {
        display: block;
        width: 60px;
        height: 60px;
        box-sizing: border-box;
        background: #FFF;
        border: 1px solid #999;
        padding-top: 30px;
        text-align: center;
        letter-spacing: -1px;
        font-size: 85%;
        text-decoration: none;
        color: #333;
                         
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 10000;
        transition:all .1s ease;
                      }
    
    .gotop::before {
        content: "";
        display: block;
        border-top: 2px solid #333;
        border-right: 2px solid #333;
        width: 25%;
        height: 25%;
        top: 25%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        transform: rotate(-45deg);
        transition:all .1s ease;
    }
    
    .gotop:hover {
        opacity: 1;
        color: black;
        font-size: 1em;
    }
    
    @media(max-width:750px) {
    .gotop {
        width: 40px;
        height: 40px;
        text-indent: -9999px;
        opacity: 1;
         border: none;
        background: none;
        bottom: 10px;
        right: 10px;
    }
    
    .gotop::before {
        bottom: 0;
    }
    }
    
    }





@media screen and (max-width: 767px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/




@keyframes move{
  0% {
    background-size:100% auto;
  }
  50% {
    background-size:140% auto;
  }
  100% {
    background-size:100% auto;
  }
}


h1,h3,h4 {
    text-shadow: 1px 2px 3px #808080;
    text-align: center;
}

p {
	font-size: 0.9rem;
	line-height: 1.5;
}

/*sention01*/

section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    color: black;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title{
    font-size: 2rem;
    margin-bottom: 50px;
}

.sub-title{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.content{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image{
    position: relative;
    width: 300px;
    height: 350px;
    overflow: hidden;
    display:none;
}

.content .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 10;
}

.content .text-box{
    z-index: 20;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-right: 0px;
    max-width: 400px;
    transform: translate(0px, 50px);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border-radius: 1px solid;
}

.content .text-box h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}



/*section02*/

.section-title{
    font-size: 3px;
    margin-left: 0px;
    margin-bottom: 20px;
}

.info-title{
    font-size: 13px;
    margin-left: 0px;
    margin-bottom: 30px;
    text-align: center;
}

.info-title2{
    font-size: 1rem;
    margin-bottom: 30px;
}

.info {
    width: 400px;
    margin-left: 0px;
    font-size: 1.3rem;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border-radius: 1px solid;
	text-align: center;
}


.info a {
    color: white;
    font-size: 1.1rem;


}


.info a:hover {
    color: white;
    font-size: 1.3rem;

}


.info2 {
    width: 450px;
    margin-left: 0px;
    font-size: 1.1rem;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border-radius: 1px solid;
	text-align: center;
}


.info2 a {
    color: white;
    font-size: 1.1rem;
	text-align: center;

}


.info2 a:hover {
    color: white;
    font-size: 1.3rem;

}


/*section03*/

.media-info {
    width: 300px;
    margin-left: 90px;
    font-size: 1.3rem;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border-radius: 1px solid;
    transform: translate(-50px, 0px);
	text-align: center;
}


.media-info a {
    color: white;
    font-size: 1.1rem;
	text-align: center;
}


.media-info a:hover {
    color: white;
    font-size: 1.3rem;
}



.content2 {
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .content2 .image {
        position: relative;
        width: 550px;
        height: 450px;
        overflow: hidden;
	display:none;
    }

        .content2 .image img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 80%;
            object-fit: cover;
            border-radius: 10px;
            z-index: 10;
        }

    .content2 .text-box {
        z-index: 20;
        background: rgba(255, 255, 255, 0.1);
        padding: 40px;
        max-width: 700px;
        transform: translate(30px, 50px);
        backdrop-filter: blur(20px);
        border-radius: 10px;
        border-radius: 1px solid;
    }

        .content2 .text-box h3 {
            font-size: 2rem;
            margin-bottom: 10px;
        }




/*section04*/

.content3{
    width: 340px;
    margin-right: 50px;
display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title{
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.info-title{
    font-size: 1rem;
    margin-bottom: 30px;
	line-height: 2.2;
}


.info3 {
    width: 330px;
    margin-left: 50px;
    margin-bottom: 40px;
    font-size: 1.2rem;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border-radius: 1px solid;
	text-align: center;

}


.info3 a {
    color: white;
    font-size: 1.1rem;

}


.info3 a:hover {
    color: white;
    font-size: 1.3rem;

}


.info4 {
    width: 330px;
    margin-left: 50px;
    font-size: 1.2rem;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border-radius: 1px solid;

}


.info4 a {
    color: white;
    font-size: 1.1rem;

}


.info4 a:hover {
    color: white;
    font-size: 1.3rem;

}

/* 横並び */

.flex {
  display: flex; /*横並び*/
  height: 45px;
}
.flex .image {
  width: 30px; /*画像サイズ指定*/
  margin: 0;
  padding: 0;
}
.flex .image img {
  width: 100%;
  height: auto;
}
.flex .right {
  margin: 0px 0 0 20px;
  padding: 0;
}
.flex .title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
}
.flex .text {
  margin: 10px 0 0;
  padding: 0;
}





.link_button {
	font-weight: bold;
	text-decoration: none;
	background: green;
	color:white;
	padding:5px 10px;
	border-radius: 30px;/*角を丸くする*/
	font-family: '游ゴシック';/*フォント*/
	transition:all .15s ease;
}
/*以下カーソルを当てたとき*/
.link_button:hover {
	background: white;
	text-decoration: none;/*下線を消す*/
	transition:all .3s ease;
}



header {
	width: 100%;
	height: 80px;
	padding: 5px 0;
	text-align: center;
	color: white;
	background-position: center bottom;
	background-size: cover;
}
header .headline{
	line-height: 100px;
	font-size: 20px;
}
.nav-list {
	line-height: 40px;
	list-style: none;
	font-weight: bold;
}
.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}







.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  background: #668ad8;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}

/* トップへ戻るボタン */
.gotop {
	display: block;
	width: 60px;
	height: 60px;
	box-sizing: border-box;
	background: #FFF;
	border: 1px solid #999;
	padding-top: 30px;
	text-align: center;
	letter-spacing: -1px;
	font-size: 85%;
	text-decoration: none;
	color: #333;
                     
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 10000;
	transition:all .1s ease;
                  }

.gotop::before {
	content: "";
	display: block;
	border-top: 2px solid white;
	border-right: 2px solid white;
	width: 25%;
	height: 25%;
	top: 25%;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	transform: rotate(-45deg);
	transition:all .1s ease;
}

.gotop:hover {
	opacity: 1;
	color: black;
	font-size: 1em;
}

@media(max-width:750px) {
.gotop {
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	opacity: 1;
 	border: none;
	background: none;
	bottom: 10px;
	right: 10px;
}

.gotop::before {
	bottom: 0;
}
}